html {
    background-color: #f7f7f7;
}

body {
    margin: 0 auto;
    max-width: 955px;
    font-family: 'Roboto', sans-serif;
    color: #4a4a4a;
    text-align: center;
    background-color: #ffffff;
    font-size: 12px;
}

section {
    padding: 0 1.2em;
}

a:link {
    text-decoration: underline;
    cursor: pointer;
}

#mainheader {
    background-color: #a593c2;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav > ul > li {
    float: left;
}

nav > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

#main {
    float: right;
    width: 70%;
    margin-bottom: 20px;
}


footer {
    clear: both;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    font-size: 0.8em;
}

p {
    font-size: 1.125em;
    color: #4a4a4a;
}

li,
ul {
    text-align: left;
    line-height: 1.5;
    font-size: 1em;
    padding-bottom: 5px;
}

figcaption {
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    /* letter-spacing: 1.5px; */
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    color: #002d72;
}

h1 {
    font-size: 18;
}

h4 {
    text-transform: none;
    font-size: 1.5em;
    font-style: italic;
}

h5 {
    text-transform: none;
    font-size: 1.125em;
    font-style: italic;
    color: #5d4a66;
}

table {
    border: 0;
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    border-spacing: 5px;
}

/* The <em> tag should be used to represent stress emphasis, like when you'd
read the emphasized text in a different tone of voice. */
em {
    /* text-transform: uppercase;
  font-style: normal; */
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.section-features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.section-features .flex-row {
    justify-content: space-around;
    flex-basis: 50%;
}

.section-features figure {
    margin: 10px;
    flex-basis: 200px;
    max-width: 300px;
    flex-grow: 1;
}

.section-features figure > figcaption {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;

    font-size: 1.125em;
    color: #002d72;
    line-height: 1.5;
    font-style: italic;
    padding-bottom: 8px;
    font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
  background-color: #002d72;
  color: white;
  font-size: 5px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0041A5;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:dodgerblue;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #0041A5 ;
}

/* Style the search box inside the navigation bar */
.dropdown input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

